<div class="container">
    <!----------------------------------------------------------NAVBAR---------------------------------------------------->
    <div class="navbar">
        <div class="logo">
            <a href="index.html"> <img src="./images/logo.png" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="login">Login</a></li>
                <li><a href="register">SignUp</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
        <img src="image/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
</div>