<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        .thank-you-img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Thank You!</h1>
        <p>Your message has been received.</p>
        <img class="thank-you-img" src="https://media1.giphy.com/media/WtOkaikiwaR87ZvAFH/200w.gif?cid=6c09b95207e7vrz976i7633oggmjdwhlk21qs352s4vigp15&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="Thank You Image">
        <a href="index">Return To Home Page</a>
    </div>
</body>
</html>